.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  width: 69px;
  height: 35px;
  padding: 10px 22px 7px 0;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 22px 7px 0;
}

.fa-times-wrapper {
  flex: none;
  flex-grow: 0;
  order: 0;
  width: 30px;
  height: 30px;
}

.fa-times {
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: 30px;
  color: var(--primary-color);
  cursor: pointer;
}

.fa-cloud-upload-alt {
  margin-right: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 30px;
  color: var(--primary-color);
}

.link-group-wrapper {
  position: absolute;
  top: 73px;
  left: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 305px;
  height: 180px;
  padding: 0;
}

.link-wrapper {
  flex: none;
  flex-grow: 0;
  order: 0;
  width: 305px;
  height: 45px;
}

.link-text {
  display: flex;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: var(--primary-color);
  text-decoration-line: underline;
  cursor: pointer;
}

.underline {
  box-sizing: border-box;
  background: var(--background-color);
  border-bottom: 1px solid var(--sub-color);
}
