# Created by Vercel CLI
COGNITO_CLIENT_ID=
COGNITO_CLIENT_SECRET=
COGNITO_TOKEN_ENDPOINT=

EDGE_CONFIG=

LGTMEOW_API_URL="https://stg-api.lgtmeow.com"
NEXT_PUBLIC_APP_ENV="local"
NEXT_PUBLIC_APP_URL="http://localhost:2222"
NEXT_PUBLIC_GOOGLE_TAG_MANAGER_ID=
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_AUTH_TOKEN=
SENTRY_ORG=
SENTRY_PROJECT=
UPSTASH_REDIS_REST_TOKEN=
UPSTASH_REDIS_REST_URL=

R2_ENDPOINT_URL=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=

TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=
