.wrapper {
  box-sizing: border-box;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-grow: 0;
  gap: 10px;
  align-items: center;
  order: 0;
  width: 498px;
  height: 154px;
  padding: 30px 0;
  background: #f7ede2;
  border: 1px solid var(--primary-color);
}

@media (width <= 767px) {
  .wrapper {
    width: 380px;
  }
}

.icon {
  flex: none;
  flex-grow: 0;
  order: 0;
  width: 498px;
  height: 28px;
  font-size: 31px;
  font-style: normal;
  font-weight: 900;
  line-height: 28px;
  color: var(--primary-color);
}

.message-text {
  flex: none;
  flex-grow: 0;
  order: 1;
  width: 498px;
  height: 56px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  color: var(--primary-color);
  text-align: center;
}

@media (width <= 767px) {
  .message-text {
    width: 380px;
  }
}
