.wrapper {
  gap: 10px;
  padding: 16px 75px;
  background: var(--white-color);
}

@media (width <= 767px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 0;
}

@media (width <= 767px) {
  .button-group {
    flex: none;
    flex-direction: column;
    flex-grow: 0;
    order: 0;
  }
}
