:root {
  --primary-color: #eb7c06;
  --primary-variant-color: #f0a14e;
  --variant-color: #ffd184;
  --sub-color: #f2ebdf;
  --sub-variant-color: #fffcf6;
  --text-color: #362e2b;
  --sub-text-color: #8e7e78;
  --white-color: #fff;
  --background-color: #faf9f7;
  --text-wrapper-background: rgb(54 46 43 / 40%);
  --separator-border: rgb(54 46 43 / 50%);
}

.button-base {
  display: flex;
  flex: none;
  flex-direction: row;
  flex-grow: 0;
  gap: 10px;
  align-items: center;
  order: 1;
  width: fit-content;
  padding: 7px 20px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.button-base:hover {
  opacity: 0.8;
}

.button-text {
  flex: none;
  flex-grow: 0;
  order: 1;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: var(--sub-color);
}

.button-text:hover {
  opacity: 0.8;
}
