.button {
  background: var(--primary-color);
}

.fa-github {
  flex: none;
  flex-grow: 0;
  order: 1;
  width: 26px;
  height: 26px;
  font-style: normal;
  font-weight: 400;
  color: var(--sub-color);
}
