.link {
  text-decoration: none;
}

.span {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
  cursor: pointer;
  background: var(--primary-color);
  border-radius: 4px;
}

.span:hover {
  opacity: 0.8;
}

.text {
  flex: none;
  flex-grow: 0;
  order: 0;
  width: 144px;
  height: 18px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  color: var(--white-color);
}

.text:hover {
  opacity: 0.8;
}
