.wrapper {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: Roboto, sans-serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  color: var(--text-color);
  text-align: center;
}

.image-wrapper {
  position: relative;
  width: 240px;
  height: 240px;
}

.message {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  color: var(--text-color);
  text-align: center;
}
