.base {
  position: absolute;
  left: 50%;
  padding: 3%;
  color: var(--white-color);
  text-align: center;
  background: rgb(0 0 0 / 80%);
  border-radius: 30px;
  transform: translate(-50%, 0);
}

.default {
  bottom: 30%;
}

.upper {
  top: 15%;
  opacity: 0.5;
}
