.wrapper {
  background: #e9e2d7;
}

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  padding: 12px 20px;
  margin: 0 auto;
}

.title {
  position: absolute;
  top: 26.67%;
  bottom: 26.67%;
  left: 50%;
  font-family: Roboto, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: #000;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transform: translateX(-50%);
}

.fa-bars {
  flex: none;
  flex-grow: 0;
  order: 0;
  width: 27px;
  height: 28px;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: 28px;
  color: var(--primary-color);
  cursor: pointer;
}
