:root {
  --text-wrapper-background: rgb(54 46 43 / 40%);
  --separator-border: rgb(54 46 43 / 50%);
}

.wrapper {
  position: absolute;
  right: 20px;
  bottom: -70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

@media (width <= 767px) {
  .wrapper {
    right: 0;
  }
}

.text-wrapper {
  display: flex;
  flex: none;
  flex-direction: row;
  flex-grow: 0;
  gap: 10px;
  align-items: flex-start;
  width: 125px;
  height: 39px;
  padding: 10px 0;
  background: var(--text-wrapper-background);
}

.en-text-wrapper {
  order: 0;
}

.ja-text-wrapper {
  order: 2;
}

.link-text {
  display: block;
  flex: none;
  flex-grow: 0;
  order: 0;
  width: 125px;
  height: 19px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: var(--background-color);
  text-align: center;
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.separator {
  flex: none;
  flex-grow: 0;
  order: 1;
  width: 125px;
  height: 0;
  border: 1px solid var(--separator-border);
}
