.wrapper {
  box-sizing: border-box;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-grow: 0;
  gap: 10px;
  align-items: center;
  justify-content: center;
  order: 1;
  padding: 12px 20px;
  border-radius: 4px;
}

@media (width <= 767px) {
  .wrapper {
    padding: 12px 0;
  }
}

.text {
  flex: none;
  flex-grow: 0;
  order: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  color: var(--primary-color);
  cursor: pointer;
}

.fa-caret-down {
  color: var(--primary-color);
  cursor: pointer;
}
