.button {
  background: var(--primary-color);
}

.fa-sync-alt {
  flex: none;
  flex-grow: 0;
  order: 0;
  font-size: 26px;
  font-style: normal;
  font-weight: 900;
  line-height: 26px;
  color: var(--sub-color);
}
