@import '~bulma/bulma';

@media screen and (min-width: 1024px) {
  .navbar-padding {
    padding: 1rem 2rem;
  }
}

@media screen and (min-width: 1216px) {
  .navbar-padding {
    padding: 1rem 4rem 2rem 4rem;
  }
}

@media screen and (min-width: 1024px) {
  .header-description-margin {
    margin-left: -0.75rem;
  }
}

.columns {
  margin: 0;
}

.columns:last-child {
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .columns {
    margin-top: -0.75rem;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
  }
}
