name: ci

on:
  workflow_dispatch:
  push:
    branches:
      - "**"

jobs:
  build:
    name: Build And Test
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        node-version: [22.x]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
          registry-url: "https://npm.pkg.github.com"
          scope: "@nekochans"
      - run: |
          npm ci --legacy-peer-deps
          npm run lint
          npm run test:ci
        env:
          NEXT_PUBLIC_LGTMEOW_BFF_URL: ${{ secrets.NEXT_PUBLIC_LGTMEOW_BFF_URL }}
          NODE_AUTH_TOKEN: ${{ secrets.AUTH_TOKEN_FOR_GITHUB_PACKAGES }}
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
